extends layout

block content
  div(class='panel panel-default bump-down')
    div(class='panel-heading')
      h3(class='panel-title') Welcome to #{title}
    div(class='panel-body')
      p 
        a(href='/info') Demo Form
